body * {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

h1 {
	text-align: center;
	padding-top: 2rem;
	font-size: 36px;
}

#choropleth_map {
	margin: 2rem 8rem
}

#bubble_chart {
	margin: 2rem 8rem;
	text-align: center;
	padding: 2rem;
}